*~
.DS_Store

# vim
*.swp
# emacs
.#*
# IntelliJ
.idea/

# javascript LSP
.tern-port

# yadm encrypted files
/bin/auth0-*
/.env.private
/.aws/config

# Home directory
/.bash_sessions/
/.cache/
/.cache/npm/
/.cache/typescript/
/.config/.op/
/.config/asciinema/install-id
/.config/configstore/update-notifier-npm.json
/.config/gtk-2.0/gtkfilechooser.ini
/.config/nvim/plugged/
/.config/wakatime/
/.local/share/nvim/
/.subversion/
/.tmux/resurrect/
/.vagrant.d/
/.vim/plugged/
/.vscode/extensions/*/
/.wakatime/
/.yadm/repo.git/
/.yarnrc
/.zoomus/
/Applications/
/Desktop/
/Development/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
