[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "ansiweather"]
	path = ansiweather
	url = https://github.com/fcambus/ansiweather.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule "ack2"]
	path = ack2
	url = git@github.com:petdance/ack2.git
