*~
.DS_Store

# vim
*.swp
# emacs
.#*
# IntelliJ
.idea/

# javascript LSP
.tern-port

# yadm encrypted files
/bin/auth0-*
/.env.private
/.aws/config

# Home directory
/.cache/npm/
/.cache/typescript/
/.config/nvim/plugged/
/.config/wakatime/
/.config/.op/
/.tmux/resurrect/
/.vim/plugged/
/.wakatime/
/.yadm/repo.git/
/.zoomus/
/Applications/
/Desktop/
/Development/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/.vscode/extensions/*/
/.cache/
/.bash_sessions/
